.form {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  max-width: 450px;
  box-shadow: 10px 10px 10px 0px #2e2e2e, -10px 10px 10px 0px #2e2e2e;
}
@media (max-width: 550px) {
  .form {
    max-width: 100%;
    width: 100%;
  }
}
.form-group {

}
.form-group label {
  display: inline-block;
  max-width: 100%;
  font-size: 18px!important;
  font-weight: 300!important;
  display: inline-block;
  max-width: 100%;
  padding-top: 15px;
  float: left;
}

.submit-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000;
  margin-top: 20px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000;
  text-align:center;
  transition: all 0.2s;
}
.submit-btn:hover {
  color:#fff;
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
}
