.tool-table {
  background-color: #fff;
  display: table;
  margin: 0 auto;
  border-collapse: collapse;
}
.category-row {
  display: table-row;
  border-bottom: 1px solid #000;
}
.category-row span {
  font-size: 24px;
}
.tool-category {
  display: table-cell;
  vertical-align: middle;
  background-color: #eee;
  padding: 20px;
}
.tool {
  height: 100px;
  width: auto;
  padding: 10px;
}
