.project-card {
  width: 100%;
  background-color: #fff;
  margin: 15px auto;
  text-align: left;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 0px #2e2e2e, -10px 10px 10px 0px #2e2e2e;
}
.project-details {
  display:inline-block;
  width: 100%;
  vertical-align: top;
}
.project-details hr {
  width: 120px;
  border-top: 4px solid #7bab01;
  margin-top: 40px;
}
.project-image {
  width: 100%;
  min-width: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}



/* @media (max-width: 1200px) {
  .project-image {
    margin: 0 auto;
  }
} */
@media (max-width: 600px) {
  .project-image {
    width: 100%;
    min-width: 1px;
  }
}
.project-image img {
  /* border-radius: 3px; */
  border: 1px solid #000;
  max-width: 100%;
  max-height: 300px;
}
.project-image img:nth-child(2) {
  /* margin: 0 10px; */
}
.headline {
  width: 70%;
  font: normal 16px/1.5 "Source Sans Pro",sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 55px;
  color: #3b3b3b;
  width: 100%;
  display: inline-block;
}
.detail {
  font-size: 14px;
  font-style: italic;
}
@media (max-width: 450px) {
  .headline {
    font-size: 20px;
    font-weight: bold;
  }
}
