/* HEADER */
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.header-top {
  background-color: rgba(105, 105, 105, 0);
  transition: .2s ease;
  padding: 30px 0px;
}

.header-normal {
  background-color: #fff;
  transition: .2s ease;
  padding: 10px 0px;
}

.header-normal a {
  color: #000;
}

.home-link {
  float: left;
}


/* FOOTER */
.footer {
  background-color: #3c3c3c;
  color: #fff;
  padding: 20px;
}
.social-links a {
  padding: 0px;
}
.social-links img {
  height: 50px;
  margin: 5px;
}

/* INFOCARD */
.info-card {
  width: 200px;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  padding: 20px;
}
.info-card img {
  width:100%;
}
