/* HEADER */
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.header-top {
  background-color: rgba(105, 105, 105, 0);
  transition: .2s ease;
  padding: 30px 0px;
}

.header-normal {
  background-color: #fff;
  transition: .2s ease;
  padding: 10px 0px;
}

.header-normal a {
  color: #000;
}

.home-link {
  float: left;
}


/* FOOTER */
.footer {
  background-color: #3c3c3c;
  color: #fff;
  padding: 20px;
  height: 100px;
}
.social-links a {
  padding: 0px;
}
.social-links img {
  height: 50px;
  margin: 5px;
}

/* INFOCARD */
.info-card {
  width: 700px;
  background-color: #fff;
  border-radius: 3px;
  margin: 15px auto;
  text-align: left;
}
.info-image {
  display: inline-block;
  width:20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.info-details {
  display:inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 20px;
}
@media (max-width: 771px) {
  .info-card {
    width:100%;
  }
  .info-image {
    display: block;
    width: 100%;
  }
  .info-details {
    padding: 0;
    width: 100%;
  }
}

/* PROJECTCARD */
.project-card {
  width: 100%;
  background-color: #fff;
  margin: 15px auto;
  text-align: left;
  box-sizing: border-box;
}
.project-details {
  display:inline-block;
  width: 100%;
  vertical-align: top;
}
.project-details hr {
  width: 120px;
  border-top: 4px solid #7bab01;
  margin-top: 40px;
}
.project-image {
  width: 50%;
  min-width: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}



/* @media (max-width: 1200px) {
  .project-image {
    margin: 0 auto;
  }
} */
@media (max-width: 600px) {
  .project-image {
    width: 100%;
    min-width: 1px;
  }
}
.project-image img {
  border-radius: 3px;
  border: 1px solid #000;
  max-width: 100%;
  max-height: 300px;
}
.project-image img:nth-child(2) {
  margin: 0 10px;
}
.headline {
  font-size: 20px;
  width: 70%;
  font: normal 16px/1.5 "Source Sans Pro",sans-serif;
  font-size: 44px;
  font-weight: 300;
  line-height: 55px;
  color: #3b3b3b;
}
.detail {
  font-size: 14px;
  font-style: italic;
}
@media (max-width: 991px) {
  /* .info-card {
    width: 100%;
  } */
}
