.info-card {
  width: 700px;
  background-color: #fff;
  margin: 15px auto;
  text-align: left;
  box-shadow: 10px 10px 10px 0px #2e2e2e, -10px 10px 10px 0px #2e2e2e;
}
.info-image {
  display: inline-block;
  width:20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.info-details {
  display:inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 20px;
}
@media (max-width: 771px) {
  .info-card {
    width:100%;
  }
  .info-image {
    display: block;
    width: 100%;
  }
  .info-details {
    padding: 0;
    width: 100%;
  }
}
